<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dipro.vendasandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="23" />

    <application
        android:icon="@drawable/vendroid_icon"
        android:label="@string/app_name" >
        
        <activity
            android:name=".Cadastro_Administrador"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="vendroid.cadastro.Cadastro_Lista"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.ConsultaLista"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.contas.ContasReceber"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.sobre.Sobre"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.cadastro.Cadastro_Cliente"
            	  android:windowSoftInputMode="stateHidden"
            	  android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"
        ></activity>
        
        <activity android:name="vendroid.cadastro.Cadastro_Fornecedor"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.cadastro.Cadastro_Marcas"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.cadastro.GroupsActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppStyle"/>
        
        <activity android:name="vendroid.cadastro.Cadastro_Produtos"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.cadastro.Cadastro_Rotas"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.cadastro.Cadastro_Vendedor"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.cadastro.Cadastro_FormasPagamento"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.cadastro.Cadastro_Usuario"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Clientes"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Fornecedor"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Produtos"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Vendas"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Rotas_Falsa"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Vendedor"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Marcas"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Grupos"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Fornecedor_falsa"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Formas_Pagamento"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Usuarios"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="dipro.vendasandroid.SplashScreen"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"
            ></activity>
        
        <activity android:name="Tela_Principal"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"
			android:theme="@android:style/Theme.Translucent"
            ></activity>
        
        <activity android:name="LogIn"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"
            ></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Marcas_falsa"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Grupos_falsa"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Vendedor_falsa"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.editar.Editar_Cliente"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.editar.Editar_Fornecedor"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.editar.Editar_Marca"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.editar.Editar_Grupo"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.editar.Editar_Produto"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.vendas.Venda"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Formas_Pagamento_Falsa"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Produtos_Falsa"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Clientes_Falsa"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.editar.Editar_Vendedor"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.cadastro.Cadastro_Empresa"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.editar.Editar_Empresa"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.editar.Editar_Forma_Pagamento"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.editar.Editar_Usuario"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.consultas.Consulta_Rotas"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.editar.Editar_Rota"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.editar.Editar_Venda"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name="vendroid.contas.Editar_ContasReceber"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name="Atualizar_Banco_Dados"></activity>
        
        
    </application>

</manifest>